body {
  // dark purple gradient: from deep purple to darker purple
  background: linear-gradient(to bottom, rgb(30 27 75) 0%, rgb(15 13 35) 100%);
  // gray-100
  color: rgb(243 244 246);
  user-select: none;
}

.zaui-routes {
  height: 100%;
}

.zaui-page {
  min-height: unset;
}

.zaui-header {
  position: sticky;
  height: auto;
  margin-bottom: 0;
  flex: none;
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: white;
  .zaui-header-back-btn {
    color: white;
  }

  &::after {
    display: none;
  }
}
