body {
  background: linear-gradient(to bottom, rgb(17 24 39) 0%, rgb(88 28 135 / 0.2) 100%);
  color: rgb(243 244 246);
  user-select: none;
}

.zaui-routes {
  height: 100%;
}

.zaui-page {
  min-height: unset;
}

.zaui-header {
  position: sticky;
  height: auto;
  margin-bottom: 0;
  flex: none;

  &::after {
    display: none;
  }
}
