body {
  background-color: var(--zmp-background-color);
  user-select: none;
}

.zaui-routes {
  height: 100%;
}

.zaui-page {
  min-height: unset;
}

.zaui-header {
  position: sticky;
  height: auto;
  margin-bottom: 0;
  flex: none;

  &::after {
    display: none;
  }
}
